{% extends 'base.html' %}

{% block title %}
    Rank Sectors
    {% endblock %}


{% block content %}
<div class="container">
    <h2 class="text-center"><u>Sector Rankings</u></h2><br>	
    <h6>
Please enter a year after 1396 including 1396 and a month between 1 to 12. 
<br>
The date entered must be before 1401/04 .
<br>
You may choose your desired machine learning method and forecasting horizon.</h6>
<br>
<form action = "" method = "post">
    {% csrf_token %}
    month: {{form.month}}
    <br>
    <br>
    year: {{form.year}}
    <br>
    <br>    
    method: {{form.method}}
    <br>
    <br>
    horizon: {{form.target}}
    <br>
    <br>
    <input type="submit" value=Submit>
</form>
    


{% endblock %}