{% extends 'base.html' %}

{% block title %}
    Sector Ranking
    {% endblock %}


{% block content %}

<div class="container">
<h2 class="text-center"><u>Performance over time</u></h2><br>	
<h5> Long leg return and short leg return are both absoloute returns and not excess returns. </h5>	
<h5> Portfolio return is long leg return minus short leg return. </h5>	
<h5> In the last row of the below table, total return of the algorithm over the entire period is calculated. </h5>		
<table class="table table-dark table-striped">
	<thead>
	<tr>
		<th>month</th>
		<th>year</th>
		<th>long_leg_return</th>
		<th>short_leg_return</th>
		<th>portfolio_return</th>
		<th>index_return</th>

	</tr>
	</thead>
	<tbody>
	<!-- jinja2 Technique -->
	{% if d %}
	{% for i in d %}
	<tr>
		<td>{{i.month}}</td>
		<td>{{i.year}}</td>
		<td>{{i.long_leg_return}}</td>
		<td>{{i.short_leg_return}}</td>
		<td>{{i.portfolio_return}}</td>
		<td>{{i.index_return}}</td>
	</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
</div>




{% endblock %}