{% extends 'base.html' %}

{% block title %}
    Backtest
    {% endblock %}


{% block content %}

<div class="container">
<h2 class="text-center"><u>Performance over time</u></h2><br>	
<h5> Excess return is measured by subtracting index return from sector's return. </h5>
<h6> Long leg return is the realized excess return of the 3 stocks with the highest predicted return.</h6>	
<h6> Short leg return is the realized excess return of the 3 stocks with the lowest predicted return. </h6>
<h6> Percentage of months in which long leg generates positive excess return: {{l_gt_zero|floatformat:2}}%</h6>
<h6> Percentage of months in which long leg outperforms short leg: {{l_gt_s|floatformat:2}}%</h6>
<table class="table table-dark table-striped">
	<thead>
	<tr>
		<th>month</th>
		<th>year</th>
		<th>long_leg_return</th>
		<th>short_leg_return</th>

	</tr>
	</thead>
	<tbody>
	<!-- jinja2 Technique -->
	{% if d %}
	{% for i in d %}
	<tr>
		<td>{{i.month}}</td>
		<td>{{i.year}}</td>
		<td>{{i.long_leg_return|floatformat:2}}</td>
		<td>{{i.short_leg_return|floatformat:2}}</td>
	</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
</div>




{% endblock %}